.top-box{
    height: 100px;
    background-color: #f9f9f9;
}
.mid-content-box{
    height: 400px;
}
.bottom-box{
    height: 100px;
    background: #faf5ff;
}
.border-light-green{
    border: 1px solid #a3bfb1;
    
}
.bg-strong-green{
    background: #cef2e0;
}
.bg-strong-blue{
    background: #cedff2;
}
.border-light-purple{
    border: 1px solid #afa3bf;
}
.bg-strong-purple{
    background: #ddcef2;
} 
.main-content-box{
    padding: 15px;
}